body {
    background-color: rgb(255, 238, 165);
}

.sub2 {
    background-color: rgb(255, 213, 0);
    height: 300px;
    width: 100%;
    display: grid;
}

.name2 {
    height: 50px;
    width: 300px;
    margin-left: 300px;
    display: flex;
    padding-top: 10px;
}

.pass2 {
    height: 50px;
    width: 300px;
    margin-left: 300px;
    padding-top: 10px;
}

input {
    width: 80%;
    padding-bottom: 10px;
    font-family: Italic;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: rgb(0, 34, 47);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.Signup_button button {
    width: 120px;
    height: 50px;
    font-family: Italic;
    border-radius: 20px;
    background-color: rgb(255, 128, 0);
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.link {
    margin-left: 20px;
}

.tittle2 {
    display: flex;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 55px;
    margin-left: 200px;
    margin-top: 100px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 10px;
}

.due_b {
    display: flex;
}

.due {
    height: 250px;
    display: grid;
    margin-left: 200px;
    margin-top: 150px;
}

.cutm {
    height: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
}
